---
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout 
	title='Lucas Casco - lucasco.dev'
	description='FrontEnd Developer specialized in creating unique and amazing applications.'
>
	<main class="max-w-4xl mx-auto p-8">
		<Header />
		<About />
		<Experience />
	</main>
</Layout>
