<article class="pt-8 opacity-80">
  <p class="leading-loose">
    I'm <span class="font-bold tracking-tight">Lucas</span>, FrontEnd Developer from Paraguay with <span class="font-bold">+3</span> years of experience. 
    I'm passionate about building user-friendly interfaces and open-source software.
  </p>
</article>