---
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Twitter from "./icons/Twitter.astro";


const SOCIAL_LINKS= [
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/lucascodev',
    icon: 'LinkedIn'
  },
  {
    name: 'Twitter',
    url: 'https://twitter.com/lucascodev',
    icon: 'Twitter'
  },
  {
    name: 'GitHub',
    url: 'https://github.com/isaias-alt',
    icon: 'GitHub'
  }
];

const IconComponents = {
  LinkedIn,
  Twitter,
  GitHub
};
---

<header class="flex justify-center py-4 sticky top-0 z-50 mb-1 bg-neutral-100/80 backdrop-blur-md dark:bg-neutral-900/80">
  <nav class="flex justify-between items-center w-full max-w-4xl">
    <a 
      href="/"
      class="opacity-80 transition-opacity duration-150 hover:opacity-100"
    >
      <span>lucasco.dev</span>
    </a>
    <div class="flex items-center space-x-4">
      {
        SOCIAL_LINKS.map(({ name, url, icon }) => {
          const IconComponent = IconComponents[icon];
          return (
            <a
              href={url}
              title={name}
              target="_blank"
              rel="noopener noreferrer"
              class="opacity-80 transition-opacity duration-150 hover:opacity-100"
            >
              <IconComponent />
            </a>
          );
        })
      }
    </div>
  </nav>
</header>
